<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">People Catalog</span>
        <div>
            <span class="navbar-brand mb-0 h1">Login</span>
            <span class="navbar-brand mb-0 h1">Log out</span>
        </div>
    </div>
</nav>